<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Notification Center" %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />

    <%= stylesheet_link_tag "normalize", "bootstrap.min", "main" %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-9572240-11', 'notificationcenter.tv');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    <div id="wrap">

      <div id="headerwrap">
        <div class="container">
          <div class="row centered">
          </div><!-- row -->
        </div>
      </div>

      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Notification Center</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <%= nav_link "Latest", "/" %>
              <%= nav_link "Episodes", "/episodes/" %>
              <%= nav_link "Twitter", "http://twitter.com/defaultCenter" %>
              <%= nav_link "iTunes", "https://itunes.apple.com/us/podcast/notification-center/id812164680" %>
              <%= nav_link "RSS", "/rss.xml" %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <div class="container">

        <%= yield %>
      </div> <!-- .container -->

      <div id="blue">
        <div class="container">
          <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
              <h4 class="uppercase">Your source for weekly iOS news</h4>
              <p>Each week, Ash and Tom get together to discuss what's going on in the world of iOS. Come for the news, stay for the banter. </p>
            </div>
          </div><!-- row -->
        </div><!-- container -->
      </div>

    </div><!-- #wrap -->

    <div id="footer">
      <div class="container">
        <p class="text-muted">
          <%= link_to "Ash Furrow", "http://twitter.com/ashfurrow" %> &amp; <%= link_to "Tom Copley", "http://twitter.com/swizzlr" %>
        </p>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap.min.js"></script>
  </body>
</html>
