<?xml version="1.0" encoding="UTF-8"?>

<rss  xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" xmlns:admin="http://webns.net/mvcb/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">

	<channel>

		<title>{{ data.podcast.title }}</title>

		<link>{{ data.podcast.permalink }}</link>

		<language>en</language>

		<copyright>&#xA9; 2014 {{ data.podcast.description }}</copyright>

		<itunes:subtitle>{{ data.podcast.description }}</itunes:subtitle>

		<itunes:author>{{ data.podcast.author }}</itunes:author>

		<itunes:keywords>{{ data.podcast.keywords }}</itunes:keywords>

		<itunes:summary>{{ data.podcast.description }}</itunes:summary>

		<description>{{ data.podcast.description }}</description>

		<itunes:owner>

		<itunes:name>{{ data.podcast.owner }}</itunes:name>

		<itunes:email>{{ data.podcast.email }}</itunes:email>

		</itunes:owner>

		<itunes:image href="{{ data.podcast.icon }}" />

		<itunes:category text="Technology">
			<itunes:category text="Software How-To"/>
			<itunes:category text="Tech News"/>
		</itunes:category>

		<atom:link href="http://www.notificationcenter.tv/feed.rss" rel="self" type="application/rss+xml" />

		{% for post in data.podcast.episodes %}

		 	<item>

				<title>{{ post.title }}</title>

				<itunes:author>Ash Furrow &amp; Tom Copley</itunes:author>

				<itunes:subtitle>{{ data.podcast.title }}: {{ post.title }}</itunes:subtitle>

				<description>{{ post.description | xml_escape }}</description>

				<itunes:image href="http://static.ashfurrow.com/notificationcenter/Icon.jpg" />

				<enclosure url="{{ post.audio }}" length="{{ post.length }}" type="audio/x-m4a" />

				<guid isPermaLink="true">{{ post.audio }}</guid>

				<pubDate>{{ post.date | date: "%a, %d %b %Y %H:%M:%S %z" }} GMT</pubDate>

				<itunes:duration>{{ post.duration }}</itunes:duration>

				<itunes:keywords>{{ data.podcast.keywords }}</itunes:keywords>

				<content:encoded>

					&lt;p&gt;{{ post.description }}&lt;/p&gt;

					&lt;ul&gt;
					    {% for link in post.links %}
							&lt;li&gt;
								&lt;a href="{{link['href']}}"&gt;{{link['text']}}&lt;/a&gt;
							&lt;/li&gt;
					    {% endfor %}
					  &lt;/ul&gt;

				</content:encoded>

			 </item>

		 {% endfor %}

	</channel>

</rss>
